button{
    margin: 0 15px;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: 2px solid #DBC200;
    background-color: #5C5100;
    color: white;
}

li button {
    width: 45px;
}

#back{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

#back a{
    margin: 1;
    font-weight: bold;
    text-decoration: none;
    color: aliceblue;
}