#coinPl {
    background-color: #CCD2E8;
    border-radius: 50%;
    height: 40px;
}

#coinPo {
    background-color: #9C8900;
    border-radius: 50%;
    height: 40px;
}

#coinPp {
    background-color: #9F9E99;
    border-radius: 50%;
    height: 40px;
}

#coinPc {
    background-color: #9E5F01;
    border-radius: 50%;
    height: 40px;
}