#coinPl {
    background-color: #CCD2E8;
    border-radius: 50%;
    height: 40px;
}

#coinPo {
    background-color: #9C8900;
    border-radius: 50%;
    height: 40px;
}

#coinPp {
    background-color: #9F9E99;
    border-radius: 50%;
    height: 40px;
}

#coinPc {
    background-color: #9E5F01;
    border-radius: 50%;
    height: 40px;
}

#send{
    margin: 10px 15px;
    padding: 12px;
    height: 40px;
    width: 100%;
    border-radius: 10%;
    border: 2px solid #DBC200;
    background-color: #5C5100;
    color: white;
}

#counterPc,
#counterPl,
#counterPo,
#counterPp{
    font-size: 30px;
    font-weight: bold;

    height: 40px;
    width: 55px;


}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

